:root {
	--bg-primary-color: #6e7fc3;
	--bg-secondary-color: #352d7e;
	--bg-tertiary-color: #211640;
	--bg-gray-color: #313235;
	--txt-primary-color: #FFFF;
    --txt-h1: 4rem;
    --txt-h2: 3rem;
    --txt-h3: 2rem;
	--bg-input-transparency: rgba(0, 0, 0, 0.4);
}

html {
	color: var(--txt-primary-color);
    font-size: var(--txt-h1);
    text-align: center;
	overflow-x: hidden;
	background-image: linear-gradient(60deg, var(--bg-tertiary-color) -30%, var(--bg-primary-color) 100%);
	background-repeat: no-repeat;
}

.header{
    border: 2px solid red;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100dvw;
	
}

#textCod{
	width: 800px;
	min-height: 200px;
	resize: none;
}