<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Compilador</title>
</head>

<body>
    <div class="container">
        <p style="text-align: center;font-size: 6rem;">ComPylador</p>
        <form id="inputCod">
            <label style="text-align: center" for="cod">Área de código:</label>
            <textarea id="textCod" name="inputArea"></textarea>
            <button class="btnStyled" type="submit">Enviar</button>
        </form>
        <div class="console">
            <p><span id="resposta"></span></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>