<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Compilador</title>
</head>

<body>
    <h1>Com Py lador</h1>

    <form id="inputCod">
        <div class="main">
            <label for="cod">Digite o código:</label>
            <br>
            <textarea id="textCod"></textarea>
            <br>
            <button type="submit">Enviar</button>
        </div>
    </form>

    <div class="main">
        <h2>Retorno:</h2>
        <div id="resposta"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>